/* Bottom navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;
}

.nav-item img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

.nav-item.active img {
    opacity: 1;
    transform: scale(1.1);
}

.nav-item a {
    display: inline-block;
}
